<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="container">
<header>
    <%- include('partials/header.ejs') %>
</header>
<main>
    <h1 class="display-4 text-center">Nuestras cervezas</h1>
    <form action="/beers" method="POST" role="form">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" name="criteria"/>
            <button type="submit" class="input-group-text border-0"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <div class="row hidden-md-up">
        <% beers.forEach(function (beer){ %>
            <div class="col-md-3 py-3">
                <div class="card">
                    <img src="<%- beer.Image_Url %>" class="card-img-top" alt="imagen de la cerveza" height="500">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%- beer.Name %></h5>
                        <p class="card-text"><%- beer.Description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</main>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>
